<%- include("partials/header.ejs") %>

 <div class="login-container">
  <header class="login-header">
    <h2>Login</h2>
  </header>
  <form class="login-form">
    
    <label for="email" >Email</label>
    <input name="email" >
    
    <label for="password" >Passowrd</label>
    <input required type="password" name="password">
    
    <button required class="login-button" >Log in</button>
  </form>

   <hr />
      <footer class="register-footer">
        <p class="footer-text">Don't have an account? <br />Log in</p>
        <form action="/register" method="get">
            <button class="footer-button">Register</button>
        </form>
        
      </footer>
  
</div>


<%- include("partials/footer.ejs") %>