*{
  font-family:calibri;
}

body{
      background-color: #f5f1f1;
}


.options-container {
      border: solid 1px black;
      background-color: white;
      width: 680px;
      margin: auto;
}
.head {
      border-bottom: 1px solid black;
      height:70px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:0px 20px;
      
}
.add-new-student{
  height:30px;
  background-color:white; 
}


form {
      border: none;
}

.student-table{
      width: 90%;
      border: 1px solid black;
      margin: auto;
}
.row{
      display: grid;
      grid-template-columns:0.17fr 0.25fr 0.3fr 0.27fr;
      align-items:center;
      border: none;
      min-width:100%;
}
.row p{
  padding-left:15px;
}
.row *{
  font-size: 18px;
}
.header-row{
  background-color:#ececec;
  display: grid;
  grid-template-columns:0.17fr 0.25fr 0.3fr 0.27fr;
  align-items:center;
  border: none;
  min-width:100%;
  }

.header-row p{
  padding-left: 15px;
  font-weight: 700;
}
.actions{
  display:flex;
  justify-content:space-between;
}
.actions button{
  border:none;
  font-size:16px;
  background-color:white;
}
.actions button:hover{
  cursor:pointer;
}

.student-table {
  margin-bottom: 40px;
}

/* ----------------STUDENT DETAILS STYLING------------------- */

h2{
  font-weight:400;
}

.details-modal{
  width: 400px;
}
.student-details-head{
  border-bottom:1px solid black;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
}
.back-to-list{
  font-size:20px;
  height:25px;
  background-color:white;
  border:none;
  text-decoration:underline;
}
.student-details{
  display: flex;
  flex-direction: column;
}
.student-details > *{
  margin-left: 20px;
}
.student-details .back-to-list {
  width: fit-content;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.details-modal{
  background-color: #fefefe;
  border: 1px inset rgb(98, 97, 97);
  margin: 15% auto;
  height:350px;
  max-width: 300px;
}
.details-list{
  flex-direction:column;
  height:fit-content;
  width:fit-content;
  padding: 0;
}
.details-list *{
  font-size:20px;
  list-style:none;
  width:100%;
}
.details-list li{
  width:100%;
  margin-bottom: 10px;
  display:grid;
  grid-template-columns:0.3fr 1fr;
}
span:first-child{
  font-weight:600;
}


button:hover{
  cursor: pointer;
}

.hidden{
   display:none;
}
.modal-container{
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0, 0.4);
}
.modal{
  background-color: #fefefe;
  border: 1px inset rgb(98, 97, 97);
  margin: 15% auto;
  width: fit-content;
}

.foot{
  display: flex;
  justify-content: flex-end;
}

/* -----------------------DELETE----------------------- */
.delete-header{
  border-bottom: 1px solid black;
  padding: 5px 10px;
}
.delete-body{
  margin: 10px;
}

.confirm-delete{
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  background-color: white;
}
.delete{
  background-color: rgb(204, 204, 204);
}



/* --------------------------------NEW STUDENT--------------------- */
.add-bttn{
  font-size: 16px;
  padding: 5px;
  margin-top:15px;
  background-color: white;
  align-self: flex-end;
  width: 60px;
  border: 1px solid black;
}
.new-student-form{
  display:flex;
  flex-direction:column;
  margin: 10px 20px;
  position:relative;
}

.new-student-form input{
  height:25px;
  
}
.new-student-form label{
  font-size:17px;
  margin-top:20px;
  margin-bottom: 5px;
}
.new-student-head{
  border-bottom: 1px solid black;
}

.new-student-title{
  margin-left:10px;
  font-weight:400;
}
.new-student{
  width:300px;
}


/* checkbox */

.checkbox-round {
    padding: 2px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    z-index: 0.5;

}

.checkbox-round:checked {
    background-color: gray;
}

.search-bar{
  height:25px;
  margin-bottom:20px;
  padding-left: 24px;
  margin-top:20px;
  z-index: 0;
}
.checkbox-round{
  position: absolute;
  left: 5px;
  top: 25px;
  z-index: 5;
}
.search-form{
  position: relative;
  width: fit-content;
  margin-left: 33px;
}

#edit-student .modal {
  width: 240px;
}





/*----------------------------------------------------------------Register------------------------------------------------------------------------ */


.register-container{
  margin:auto;
  width: 300px;
  border: 0.5px solid black;
  font-size:18px;
  padding-bottom:15px;
}

.registration-form{
  display:flex;
  flex-direction:column;
  
}

.registration-form input{
  width:220px;
  height:24px;
  margin:auto;
  margin-bottom:10px;
  border-radius:4px;
  margin-top:4px;
}

.registration-form label {
margin-left:26.4px;
}

.register-head h2{
  margin-left:26.4px;
  font-weight:540;
}

 button{
 padding:5px;
  font-size:16px;
  font-weight:500;
  margin-left:auto;
  margin-right:26.4px;
  background-color:white;
  border:1px solid black;
  border-radius:4px;
}

.register-footer{
  display:flex;
  align-items:center;
}

.footer-button{
  height:min-content;
  position:relative;
  z-index:1;
  right: 30px;
  top: 25px;
}
.footer-text{
  margin-left:24.6px
}


/* ----------------------------------------------Log in------------------------------------------------------------------------ */



.login-container{
  border:1px solid black;
  width:280px;
  font-family:calibri;
  padding:15px;
}

h2{
  margin-top:0;
}

.login-form{
  display:flex;
  flex-direction:column;
}

.login-form input{
  margin-bottom:10px;
  height:25px;
  border: 1.5px solid black;
  border-radius:4px;
}
.login-button{
  background-color:white;
  border:1px solid black;
  width:60px;
  padding:8px 5px;
  align-self:flex-end;
  border-radius:4px
}

.invalid{
  border:3px solid red;
}